header{
  width: 100%;
  height: fit-content;
  background: linear-gradient(to bottom, var(--main-color), var(--secondary-color));
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

header h1{
  color: #fff;
  text-align: left;
  padding-left: 1rem;
  cursor: pointer;
  display: inline-flex;
}
