
<div class="container">
  <div class="title_word_container">
    <h2>{{word.name }}</h2>
    <span class="sound"> /{{word.pronuntation}}/</span>
  </div>

  <div class="definition_container">
    @for (definition of word.definition; track $index) {

      <div class="title_definition">
        <span class="definition">{{definition.translation}}</span>
        <span class="type">{{definition.type}}</span>
      </div>

        @if (definition.explanation) {
          <p class="explanation">{{definition.explanation}}</p>
        }
        @if (definition.examples.length > 0) {
        <div class="example_container">
          @for (example of definition.examples; track $index) {
            <div class="example">
              <p class="phrase">{{example.phrase}}</p>
              @if (example.explanation) {
                <p class="explanation">{{example.explanation}}</p>
              }
            </div>
          }
          <app-add-example-button class="button_add_example" [translationSel]="$index"/>
        </div>
      }@else {
        <app-add-example-button class="button_add_example" [translationSel]="0"/>
      }
    }
  </div>

  @if (showAddButton$ | async) {
    <app-add-translation-button class="float_button"/>
  }
</div>
