button{
  border-radius: 100px;
  width: 4rem;
  height: 4rem;
  border: none;
  cursor: pointer;
  color:var(--white);
  box-shadow: var(--box-shadow);
  font-size: 40px;
  text-align: center;

  transition: width 2s linear 1s;
  background: var(--red);
}

button:hover{
  transform:scale(1.1);
  background: var(--red-hover);
  transition: 0.4s;
  }
